[Interface]
PrivateKey = ${private_key}
Address = ${address}
MTU = 1420
#DNS = 192.168.0.12

[Peer]
PublicKey = v/M0zEAqKvFyeeg6wLSV0m4Nu51I/zL+fym3PVgv4D4=
AllowedIPs = 192.168.0.0/24, 10.0.0.0/24
Endpoint = ${endpoint}:${port}
PersistentKeepalive = 21

